.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 18px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testimonial {
	background-color: #fff;
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
		url(/testimonial.png) no-repeat center center;
}

.swiper-pagination-bullet-active {
	background-color: #c5a059;
}
