@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
	@apply flex items-center space-x-1 justify-center rounded-md py-2;
}

.hero-btn {
	@apply flex items-center space-x-3 py-2 px-5 rounded;
}

.stats {
	@apply font-red text-primary-500 text-2xl font-[900];
}

.__what {
	background: url(/hero-bg.png) no-repeat center center;
}

.__sellCard {
	@apply flex items-center text-white space-x-3 bg-primary-500 px-5 py-5 rounded-lg;
}

.__sellCard-description {
	@apply font-light text-left text-sm;
}

.__cardIcon {
	@apply bg-black p-1 rounded-md;
}

.dropdown-list {
	@apply absolute z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.why {
	background-color: rgb(197, 160, 89);
	background: linear-gradient(rgba(197, 160, 89, 0.8), rgba(197, 160, 89, 0.8)),
		url(/hero-bg.png) no-repeat center center;
	background-size: cover;
}

.plan {
	background: url(/hero-bg.png) no-repeat center center;
	background-size: cover;
}

.transit {
	@apply lg:hover:scale-105 lg:transition lg:transform lg:duration-200 lg:ease-out;
}

.__plan-card {
	@apply py-10 bg-white rounded-xl cursor-pointer lg:hover:shadow-md;
}
